[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
[submodule "themes/themes/PaperMod"]
	path = themes/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
